.Navbar {
    background-color: var(--navbar-bg);
    padding: 5px;
    color: #444444;
    box-shadow: var(--box-shadow);
}

.Navbar .buttons,
.Navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar nav {
    width: 100%;
}

.Navbar .navicon {
    width: 40px
}

.Navbar .logo {
    width: 60px;
}

.Navbar h1 {
    margin-left: 20px;
    margin-bottom: 0;
}