.Sidebar {
  background-color: #444;
  color: #ffffff;
}

.Sidebar ul {
  padding: 0;
  list-style: none;
}

.Sidebar a {
  text-align: center;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}